{% extends 'base.html.twig' %} 

{% block title %}Hello BagController!{% endblock%} 

{% block body %}

  <section class="bags-list">


   

  {% for bag in bags %}
   
    <div class="home-cards-bag">

        <h2>{{ bag.name }}</h2>

        <div>
          <img src="{{ asset('uploads/bag/' ~ bag.img) }}" alt="" class="home-card-img"/>
        </div>

        <div>
          <span><strong>Marque :</strong> {{ bag.brand }}</span>
          <span><strong>Couleur :</strong> {{ bag.color }}</span>
          <span><strong>Propriétaire :</strong> {{ bag.owner.email }}</span>
          <span><strong>Type :</strong> {{ bag.Type.name }}</span>
        </div>
        <div class="card-btns">
          <a href="{{ path('app_bag_show', {id : bag.id}) }}"><button class="btn-see-show">Voir</button></a>
          {# <button><a href="{{ path('app_bag_borrows')}}">Emprunter</a></button> #}
          {% include "user_page/_form_borrows.html.twig" %}
        </div>

      </div>

    {% endfor %} 

  </section>

{% endblock %}
