{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <section class="login-class">

        <div class="login-box">

            <h1 class="h3">Inscription</h1>

            {{ form_errors(registrationForm) }}

                

            {{ form_start(registrationForm) }}

                <div class="inside-login-box">
                     <div class="username-box">
                        {{ form_row(registrationForm.username) }}
                    </div>
                    <div class="email-box">
                        {{ form_row(registrationForm.email) }}
                    </div>
                    <div class="password-box">
                        {{ form_row(registrationForm.plainPassword, { label: 'Password' }) }}
                    </div>
                    {{ form_row(registrationForm.agreeTerms) }}
                
                </div>

                
                <button type="submit" class="btn btn-see-show btn-register">S'enregistrer</button>

            {{ form_end(registrationForm) }}
        
        </div>

    </section>
{% endblock %}
