{% extends 'base.html.twig' %} {% block body %} 
<section class="bags-list">
{% for bag in bags %}
<div class="home-cards-bag">
  <h2>{{ bag.name }}</h2>
  <div>
    <img src="{{ asset('uploads/bag/' ~ bag.img) }}" alt="" />
  </div>
  <div>
    <span>{{ bag.brand }}</span>
    <span>{{ bag.color }}</span>
    <span> {{ bag.owner.email }}</span>
    <span>{{ bag.Type.name }}</span>
  </div>
  <div>
    <a href="">
      <button class="btn-see-show">
      Retour
    </button></a>
  </div>
</div>

{% endfor %} 
</section>
{% endblock %}
