<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bag For You{% endblock %}</title>
        <link rel="icon" href="uploads/bagforyou_icon.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200;1,200&display=swap" rel="stylesheet">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <header>
                {# <h1>Bag For You</h1> #}
                <div class="header-logo">
                 <img src="{{ asset('uploads/bagforyou_logo.png') }}" alt="Bag For You">
                </div>
                <nav>
                    <ul>
                        <li><a href="{{ path('app_bag') }}">Accueil</a></li>
                        <li><a href="{{ path('app_login') }}">Connexion</a></li>
                        <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                    </ul>
                </nav>
            </header>
        {% endblock %}
        {% block body %}

        {% endblock %}

        <footer>
            <span>&copy; 2025 - LSV : Loriana, Serife et Vanessa</span>
        </footer>
    
    </body>
</html>
